body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
}

form button {
    padding: 10px 20px;
    background-color: #ff0000; /* 초기 배경색 (빨간색) */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
