<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기숙사 문제어 웹사이트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>기숙사 문여는 버튼</h1>
    <form method="post" action="/save_to_firebase">
        <button id="colorChangeButton" type="submit">문닫힘</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>